.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(rgb(214, 200, 200), rgb(189, 221, 226));
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  display: flex;
  align-items: center;
}

.icon-product{
  width: 50px;
  height: 50px;
}

.container {
  margin-left: 20px;
  background-color: #686c75;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 6px #dcd0d0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container-total {
  background-color: #42454a;
  border-radius:  0px 0px 20px 20px;
  background-color: #5b5f66;
}

.cart-item {
  border-spacing: 30px;
  text-align: left;
}

.container-discount{
  margin-left: 20px;
  background-color: #686c75;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 6px #dcd0d0;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container-discount-item{
  margin: 10px;
  background-color: #686c75;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px #44474e;
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.selection-coupon{
  margin-left: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  
}

.coupon-item{
  padding: 5px;
  margin: 5px;
  background-color: #c9cfdf;
  box-shadow: 1px 1px 5px 1px #44474e;
  border-radius: 20px;
  color:#42454a;
  width: 100vh
}

.coupon-item-selected {
  padding: 5px;
  margin: 5px;
  background-color: #98a5c9;
  box-shadow: 1px 1px 5px 1px #454c5b;
  border-radius: 20px;
  color:white;
  width: 100vh
}

.discount-total{
  color: rgb(229, 133, 133);
  text-align: right;
}
